
<div class="container">
    <div class="row">
      <div class="col-8">
          <div class="card">
              <article class="card-body">
                <h4 class="card-title mb-3 lblIng">Modificar Actor</h4>
                <form>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" placeholder="Ingrese un nombre.." [(ngModel)]="actor.nombre" name="nombre">
                        <label *ngIf="nombreError" class="form-text text-danger">Falta nombre</label>
                    </div>
                    <div class="form-group">
                        <label>Apellido</label>
                        <input class="form-control" placeholder="Ingrese un apellido.." [(ngModel)]="actor.apellido" name="apellido">
                        <label *ngIf="apellidoError" class="form-text text-danger">Falta apellido</label>
                    </div>
                    <div class="form-group">
                        <label>Nacionalidad</label>
                        <input class="form-control" placeholder="Ingrese nacionalidad.." [(ngModel)]="actor.nacionalidad" name="nacionalidad">
                        <label *ngIf="nacionalidadError" class="form-text text-danger">Falta nacionalidad</label>
                    </div>
                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input class="form-control" type="date" placeholder="Ingrese una fecha de nacimiento.." [(ngModel)]="actor.fechaDeNacimiento" name="fechaDeNacimiento">
                        <label *ngIf="fechaDeNacimientoError" class="form-text text-danger">Falta ingresar la fecha de nacimiento</label>
                    </div>
                    <div class="card" style="margin-top: 2%; height: 161px;">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img [src]="imgURL ? imgURL : 'actor.fotoEstrella'" class="img-fluid" alt="">

                                <!-- <img *ngIf="imgURL" src="imgURL" class="img-fluid" alt=""> -->
                                <img *ngIf="!actor.fotoEstrella && !imgURL" src="//placehold.it/200" class="img-fluid" alt="">
                                <img *ngIf="actor.fotoEstrella && !imgURL" src="{{actor.fotoEstrella}}" class="img-fluid" alt="">
                            </div>
                            <div class="col" style="padding: 2%">
                                <div class="card-block px-2">
                                  <div class="form-group">
                                      <label>Foto de Perfil</label>
                                      <input class="form-control" #file type="file" placeholder="Seleccione archivo de imagen..." name="fotoEstrella" id="foto" accept='image/*' (change)="Preview(file.files)">
                                      <label *ngIf="fotoEstrellaError" class="form-text text-danger">Falta seleccionar archivo</label>
                                      <!-- <label *ngIf="selectedFile == null && !fotoEstrellaError" class="form-text text-danger">{{mensaje}}</label> -->
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button id="btnModif" type="button" style="margin-right:1%;" class="btn btn-success pull-right" (click)="StartUpload()"> Modificar </button>

                    <button id="btnLimpiar" type="button" class="btn btn-info" routerLink="/actor/listado"> Cancelar </button> <!--(click)="seModifico.emit(false); verForm = false"-->
                </form>
              </article>
            </div>
          </div>

        </div>
</div>






































<!-- <button *ngIf="!verForm" title="Modificar" type="button" class="button btn btn-info" (click)="verForm = true">
    Modificar
  </button>



<form *ngIf="verForm" class="container shadow p-3">
  <div class="form-group">
      <label>Nombre</label>
      <input class="form-control" placeholder="Ingrese un nombre.." [(ngModel)]="actor.nombre" name="nombre">
      <label *ngIf="nombreError" class="form-text text-danger">Falta nombre</label>
  </div>
  <div class="form-group">
      <label>Apellido</label>
      <input class="form-control" placeholder="Ingrese un apellido.." [(ngModel)]="actor.apellido" name="apellido">
      <label *ngIf="apellidoError" class="form-text text-danger">Falta apellido</label>
  </div>
  <div class="form-group">
      <label>Nacionalidad</label>
      <input class="form-control" placeholder="Ingrese nacionalidad.." [(ngModel)]="actor.nacionalidad" name="nacionalidad">
      <label *ngIf="nacionalidadError" class="form-text text-danger">Falta nacionalidad</label>
  </div>
  <div class="form-group">
      <label>Fecha de Nacimiento</label>
      <input class="form-control" type="date" placeholder="Ingrese una fecha de nacimiento.." [(ngModel)]="actor.fechaDeNacimiento" name="fechaDeNacimiento">
      <label *ngIf="fechaDeNacimientoError" class="form-text text-danger">Falta ingresar la fecha de nacimiento</label>
  </div>
  <div class="form-group">
      <label>Foto de Perfil</label>
      <input class="form-control" #file type="file" placeholder="Seleccione archivo de imagen..." [(ngModel)]="actor.fotoEstrella" name="fotoEstrella" accept='image/*' (change)="Preview(file.files)">
      <label *ngIf="fotoEstrellaError" class="form-text text-danger">Falta seleccionar archivo</label>
  </div>




  <button id="btnAgregar" type="button" style="margin-right:1%;" class="btn btn-success pull-right" (click)="Modificar()"> Modificar </button>
  <button id="btnLimpiar" type="reset" class="btn btn-info" (click)="seModifico.emit(false); verForm = false"> Cancelar </button>
</form> -->


